[submodule "store"]
	path = store
	url = git@github.com:anthill-gaming/store.git
[submodule "social"]
	path = social
	url = git@github.com:anthill-gaming/social.git
[submodule "report"]
	path = report
	url = git@github.com:anthill-gaming/report.git
[submodule "promo"]
	path = promo
	url = git@github.com:anthill-gaming/promo.git
[submodule "profile"]
	path = profile
	url = git@github.com:anthill-gaming/profile.git
[submodule "moderation"]
	path = moderation
	url = git@github.com:anthill-gaming/moderation.git
[submodule "message"]
	path = message
	url = git@github.com:anthill-gaming/message.git
[submodule "media"]
	path = media
	url = git@github.com:anthill-gaming/media.git
[submodule "login"]
	path = login
	url = git@github.com:anthill-gaming/login.git
[submodule "log"]
	path = log
	url = git@github.com:anthill-gaming/log.git
[submodule "leaderboard"]
	path = leaderboard
	url = git@github.com:anthill-gaming/leaderboard.git
[submodule "game_master"]
	path = game_master
	url = git@github.com:anthill-gaming/game_master.git
[submodule "game_controller"]
	path = game_controller
	url = git@github.com:anthill-gaming/game_controller.git
[submodule "exec"]
	path = exec
	url = git@github.com:anthill-gaming/exec.git
[submodule "event"]
	path = event
	url = git@github.com:anthill-gaming/event.git
[submodule "environment"]
	path = environment
	url = git@github.com:anthill-gaming/environment.git
[submodule "dlc"]
	path = dlc
	url = git@github.com:anthill-gaming/dlc.git
[submodule "discovery"]
	path = discovery
	url = git@github.com:anthill-gaming/discovery.git
[submodule "config"]
	path = config
	url = git@github.com:anthill-gaming/config.git
[submodule "bot"]
	path = bot
	url = git@github.com:anthill-gaming/bot.git
[submodule "blog"]
	path = blog
	url = git@github.com:anthill-gaming/blog.git
[submodule "backup"]
	path = backup
	url = git@github.com:anthill-gaming/backup.git
[submodule "apigw"]
	path = apigw
	url = git@github.com:anthill-gaming/apigw.git
[submodule "admin"]
	path = admin
	url = git@github.com:anthill-gaming/admin.git
[submodule "tools"]
	path = tools
	url = git@github.com:anthill-gaming/tools.git
[submodule "anthill"]
	path = anthill
	url = git@github.com:anthill-arch/anthill.git
[submodule "market"]
	path = market
	url = git@github.com:anthill-gaming/market.git
