# General packages
-r anthill/framework/requirements-dev.txt
-r anthill/platform/requirements-dev.txt

# Services packages
-r admin/requirements-dev.txt
-r apigw/requirements-dev.txt
-r backup/requirements-dev.txt
-r bot/requirements-dev.txt
-r config/requirements-dev.txt
-r discovery/requirements-dev.txt
-r dlc/requirements-dev.txt
-r event/requirements-dev.txt
-r environment/requirements-dev.txt
-r event/requirements-dev.txt
-r exec/requirements-dev.txt
-r game_controller/requirements-dev.txt
-r game_master/requirements-dev.txt
-r leaderboard/requirements-dev.txt
-r log/requirements-dev.txt
-r login/requirements-dev.txt
-r market/requirements-dev.txt
-r media/requirements-dev.txt
-r message/requirements-dev.txt
-r moderation/requirements-dev.txt
-r blog/requirements-dev.txt
-r profile/requirements-dev.txt
-r promo/requirements-dev.txt
-r report/requirements-dev.txt
-r social/requirements-dev.txt
-r store/requirements-dev.txt
-r vote/requirements-dev.txt

# Tools
-r tools/requirements-dev.txt
